<mat-card>
    <mat-card-title>Berita</mat-card-title>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Judul Berita</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Berita</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Image</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Kategori Berita</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
        </form>

        <div>
            <button mat-raised-button type="submit" color="primary">Save</button>
            <a mat-raised-button style="margin: 5px" color="accent">Cancel</a>
        </div>

    </mat-card-content>


</mat-card>